extends layout

block content
  .container
    h1= title
    .row
      each tournament in data
        .col-md-3
          a(class='card', href=`tournaments/${tournament.id}`)
            img.card-img-top(src=`/images/${tournament.id}.png` onerror="imgError(this, 'sr:tournament:default.png')")
            .card-body
              if tournament.Category.country_code
                h6.card-text.text-center= `${tournament.name} - ${tournament.Category.country_code}`
              else
                h6.card-text.text-center= `${tournament.name}`